/* Variables */
/* :root(var .flex-left) {
  display: flex;
  flex-direction: row;
  justify-content: left;
} */


/* ANIMATIONS */




/* GLOBAL STYLES/CLASSES */
header {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  text-justify: center;
  background-color: black;
  /* display: inline-flex;
  flex-direction: row;
  padding: 4px 4px; */
}

header h1 {
  background-color: #63676b;
  display: flex;
  align-items: center;
  display: inline-block;
  font-size: 48px;
  color: #6913ea;

}

/* header h2 {
  display: flex;
  align-items: center;
  display: inline-block;
  font-size: 36px;
} */

.hero {

  /* align-items: center, top; */
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://picsum.photos/id/870/200/300?grayscale&blur=2);
  
}

/* .container {
  text-align: left;
}

.right-align {
  float: right;
} */

section {
  display: flex;
  flex-direction: column;
  margin: 4px 4px 4px 4px;
  padding: 2px 2px 2px 2px;
  /* background-color: #68f278;
  border: 2px solid red;
  border-radius: 25% / 25%; */
}

/* CUSTOM STYLES */

.link-container {
  display: flex;
  justify-content: space-between;
  font-size: large;
  padding: 10px 10px;
  margin: 10px 10px;
  /* border: 2px solid green; */
}

.link-container a {
  text-decoration: none;
  color: #f54d4d;
  font-size: 36px;
}

.about_me {
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  color: #e1dfe9;
  /* display: flex;
  flex-direction: row;
  justify-content: left; */

}

.portfolio {
  font-size: 24px;
  text-decoration: none;
  text-align: right;
  color: #e1dfe9;
}


.contact {
  font-size: 24px;
  text-decoration: none;
  color: #e1dfe9;
  text-align: left;
}

.flex-right {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.flex-left {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

footer {
  text-align: center;
  font-size: 36px;
  color: #f54d4d;
}